/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.red1{
    background-color: #aa0601;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .red1 ul{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    padding-right: 312px;
}
.red1 img{
  width: 80px;
}
h1{
    border-left: 8px solid #9f1213;
    font-size: 48px;
    padding-top: 96px;
    padding-bottom: 33px;
    line-height: 72px;    
}
.store ul{
  display: flex;
   
}
.store p{
    font-size: 24px; 
    padding-bottom: 41px; 
}
.store img{
  padding-bottom: 80px;
  width: 526px;
  padding-left: 24px;
} 
.footer1{
    background-color: #aa0601;
    color: white;
  }
  .footer1 ul{
    display: flex;
    padding-top: 64px;
    justify-content: flex-end;
    justify-content: space-between;
    width: 1296px;

  }
  .footer1 ol{
    border-bottom: 1px solid white;
  }
  .footer1 li{
    font-size: 36px;
  }
  .size{
     font-size: 16px;
  }
  .footer1 p{
    font-size: 36px;
}
.footer1 img{
  width: 48px;
}
.red2{
    background-color: #aa0601;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .red2 ul{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    padding-right: 312px;
}
.red2 img{
  width: 80px;
}
  h2{
    font-size: 48px;
    padding-top: 96px;
    border-left: 8px solid #9f1213;
  }
  h3{
    font-size: 24px;
  }
  li{
     font-size: 20px;
  }
  p{
    font-size: 16px;
  }
  .question ul{
    padding-bottom: 80px;
  }
  .footer2{
    background-color: #aa0601;
    color: white;
  }
  .footer2 ul{
    display: flex;
    padding-top: 64px;
    justify-content: flex-end;
    justify-content: space-between;
  }
  .footer2 li{
     font-size: 16px;
  }
  .footer2 p{
    font-size: 36px;
}